<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <form
        class="form-horizontal"
        method="post"
        action="/register/add"
        role="form"
        style="width: 300px"
      >
        <label>Name</label>
        <input class="form-control" name="name" type="text" />
        <label>Email</label>
        <input class="form-control" name="email" type="text" />
        <label>Password</label>
        <input class="form-control" name="password" type="text" />
        <button class="btn btn-primary" type="submit">Register</button>
      </form>
    </div>
  </body>
</html>
