* {
  background-color: rgb(197, 196, 194);
}

.null {
  color: rgb(240, 240, 44);
}
.promoted {
  color: red;
}
.demoted {
  color: green;
}
.email {
  margin-top: 20px;
}
#sub_btn {
  margin-top: 15px;
  margin-left: 50px;
}
